* {
  box-sizing: border-box; }

/*insert custom css below*/

body {
  background-color: #c2c2a3;
}
div {
    width: 400px;
    padding: 25px;
    border: .05px solid black;
    margin: 25px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a.read-more:link {
    text-decoration: underline;
}

a:hover {
    color: white;
}
